:root {
    --light: rgb(213, 193, 199);
    --orange: rgb(142, 69, 30);
    --dark: rgb(53, 39, 31);
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-image: linear-gradient(var(--orange),var(--light));
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
}

h1 {
    font-size: 250%;
}
  
h2 {
    font-size: 160%;
}

h3 {
    font-size: 130%;
    padding: 2%;
}
  
ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 300px;
}
  
nav a {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
  
nav a:hover {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.hero {
    height: 300px;
    width: 100%;
    background-image: url("./images/redrock.jpeg");
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
    margin: auto 5%;
}

#apps {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

/*
Future add: Hover over work image adds shadow effect to image.
*/

.card {
    width: 40%;
    border-width: 2px;
    border-color: var(--dark);
    border-style: solid;
    margin: 2%;
    cursor: pointer; 
}

.card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card h4 {
    position: absolute;
    margin-top: 2%;
    background-color: var(--dark);
    color: white;
}

#feature {
    width: 90%;
}

#feature img {
    height: 250px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-image: linear-gradient(var(--light),var(--orange));
    color: white;
}
  
@media screen and (max-width: 700px) {
    header,
    main, 
    #work {
      flex-direction: column;
    }

    #headings {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
    .card {
      width: 90%;
    }

    img {
        height: 200px;
    }

    #feature img {
        height: 300px;
    }
}